body {
    font-size: 0.75em;
}

ol {
  counter-reset: section;
}

li {
  list-style-type: none;
}

li:before {
  counter-increment: section;      /* section カウンタを増加 */
  content: "(" counter(section) ") "; /* カウンタを表示 */
}
